@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:'Roboto', 'Times New Roman', Times, serif;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 53, 13);
    color: aliceblue;
    padding: 12px;
    font-size: 18px;
}

.right_links {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: aliceblue;
}